<center>
<h2>New Invitation</h2>
<hr width="75%">
<hr width="50%">
<%= form_for @invitation do |f| %>

  <div class="field">
    <%= f.label :recipient_email %><br />
    <%= f.text_field :recipient_email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Invite!" %>
  </div>
<% end %>
<hr width="75%">
</center>


