<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi Wrangler Admins,</h1>
    <p>
      A new performance request has just been submitted.
    </p>
    <p>Thanks!</p>
  </body>
</html>
